<html>
<head>

   <link rel="stylesheet" type="text/css" href="./../assets/css/button.css">

  <style>
    h3 { display : inline; }

        div.top {
            height:150px;
            width: 100%;

        }

  </style>

</head>
<body>
<div class="top"><div style = "background-color: RGB(77,114,222); color: white; height: 100%; border-bottom : 3px solid white;">
<CENTER> <br><h1><img src = "./../assets/images/gridslogo.png">
<a href = "/" id = "title"> 지능형 WEB </a></h1></CENTER> </div></div>

<form method = "post" action = "/save">


담당자 : <%- name %><br>
연락처 : <%- tel %><br>
지역 :  <%- area %>&nbsp<%- area1 %>&nbsp<%- area2 %> <br>

고장사유/발생시간: <br>
<% for( var j = 0 ; j < length; j++) { %>
  <h3> <%= two[j] %> </h3><br>
  <% } %>
  <br>

<input type = "hidden" value = '<%- title %>'  name = "title">
<textarea name = 'tt' style = "display:none;">
  담당자 : <%- name %>
  연락처 : <%- tel %>
  지역 :  <%- area %>&nbsp<%- area1 %>&nbsp<%- area2 %>

  고장사유/발생시간:
  <% for( var j = 0 ; j < length; j++) { %>
    <%= two[j] %>
    <% } %>

</textarea>

<div>
<input type = "submit" class = "button" value = "저장하기" onclick="alert('save')">
<input type = "button" class = "button"  onclick="location.href='/list'" value =  "뒤로가기" >

</form>
</body>
</html>
